# ====================
# Backend
# ====================
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/carteirinhas_db
CORS_ORIGINS=http://localhost:3000,https://agente-monitoramento-carteirinhas.vercel.app

# ====================
# Frontend
# ====================
NEXT_PUBLIC_API_URL=http://localhost:8000
